
      <div
        class="d-flex justify-content-center"
        ng-repeat="detail in details"
        ng-controller="appointmentController"
      >
        <div class="col-md-7 m-3">
          <p
            class="d-flex justify-content-center text-danger-emphasis"
            style="font-size: 26px"
          >
            Patient's &nbsp; Details
          </p>
          <div class="card-body m-3">
            <div class="row d-flex justify-content-evenly p-3">
              <div class="row">
                <div class="col-md-4">
                  <p style="font-size: 20px">
                    Patient name: &nbsp; {{ detail.first_name }} {{
                    detail.last_name}}
                  </p>
                </div>
                <div class="col-md-4">
                  <p style="font-size: 20px">
                    Email: &nbsp; {{ detail.email }}
                  </p>
                </div>
                <div class="col-md-2">
                  <p style="font-size: 20px">
                    Age: &nbsp; {{ detail.patient__age }}
                  </p>
                </div>
                <div class="col-md-2">
                  <p style="font-size: 20px">
                    Sex: &nbsp; {{ detail.patient__gender }}
                  </p>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-7">
                  <p style="font-size: 20px">
                    Address: &nbsp; {{ detail.patient__address }}
                  </p>
                </div>
                <div class="col-md-4">
                  <p style="font-size: 20px">
                    Phone: &nbsp; {{ detail.patient__Phone }}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <form class="row rounded-5 g-0">
            <hr class="border border-success border-3 opacity-50 mt-3" />
            <p
              class="d-flex justify-content-center text-danger-emphasis"
              style="font-size: 26px"
            >
              Doctor's &nbsp; Details
            </p>
            <div class="row">
              <div class="col-md-12">
                <div class="input-group mt-4">
                  <label
                    class="input-group-text p-2 border-success"
                    for="inputGroupSelect01"
                    >Choose Doctor
                  </label>
                  <select
                    class="form-select border-success"
                    id="inputGroupSelect01"
                    ng-model="doc"
                    ng-options="doctor as doctor.first_name for doctor in doctors"
                  >
                    <option value="">Choose a Doctor</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row mt-5 d-flex justify-content-between">
              <div class="col-md-4">
                <label for="textInput" class="form-label"
                  >Appointment date</label
                >
                <input
                  type="date"
                  name="textInput"
                  class="form-control form-control border-success"
                  placeholder="Enter date"
                  id="textInput"
                  aria-describedby="emailHelp"
                  ng-model="appDate"
                />
              </div>
              <div class="col-md-6">
                <label class="form-label" for="inputGroupSelect02"
                  >Appointment time</label
                >
                <select
                  class="form-select border-success"
                  id="inputGroupSelect02"
                  ng-model="appointmentTime"
                >
                  <option selected value="">Select</option>
                  <option>9:00 AM - 10:00 AM</option>
                  <option>10:00 AM - 11:00 AM</option>
                  <option>11:00 AM - 12:00 AM</option>
                  <option>1:00 PM - 2:00 PM</option>
                  <option>2:00 PM - 3:00 PM</option>
                </select>
              </div>
            </div>
            <hr class="border border-success border-3 opacity-50 mt-5" />
            <p
              class="d-flex justify-content-center text-danger-emphasis"
              style="font-size: 26px"
            >
              Medical history
            </p>
            <div class="row">
              <div class="col-md-6">
                <label for="exampleInputEmail1" class="form-label"
                  >Suffering from</label
                >
                <input
                  type="text"
                  class="p-2 form-control border border-success"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  ng-model="appointmentDisease"
                  placeholder=" Enter NA if none"
                />
              </div>
              <div class="col-md-6">
                <label for="exampleInputEmail1" class="form-label"
                  >Current Symptoms</label
                >
                <input
                  type="text"
                  class="p-2 form-control border border-success"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  ng-model="appointmentSymptoms"
                  placeholder=" Enter NA if none"
                />
              </div>
              <div class="col-md-6 d-flex mt-5">
                <label class="input-group-text p-2" for="inputGroupSelect01"
                  >Do you have any medical allergies</label
                >
                <select
                  class="form-select border-success"
                  id="inputGroupSelect01"
                  ng-model="allergy"
                >
                  <option selected value="">Select</option>
                  <option>no</option>
                  <option>not-sure</option>
                  <option>yes</option>
                </select>
              </div>
              <div class="col-md-6 d-flex mt-5">
                <label class="input-group-text p-2" for="inputGroupSelect01"
                  >How often do you consume alcohol</label
                >
                <select
                  class="form-select border-success"
                  id="inputGroupSelect01"
                  ng-model="alcohol"
                >
                  <option selected value="">Select</option>
                  <option>never</option>
                  <option>ocassionanly</option>
                  <option>daily</option>
                </select>
              </div>
            </div>
            <div class=" col-md-12 d-flex justify-content-center mt-5">
              <div class="row ">
                <div class="col-md-6 ">
                  <button
                  class="btn btn-success"
                  style="font-size: 18px"
                  ng-click="confirm()"
                >
                  Confirm Appointment
                </button>
              </div>
              <div class="col-md-6">
                <button
                  class="btn btn-danger"
                  style="font-size: 18px"
                  ng-click="cancel()"
                >
                Cancel Appointment
              </button>
            </div>
                <div></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
