<div class="col-md-12 mt-5">
  <div class="col-md-2"></div>
  <div class="container-fluid col-md-10 mt-5">
    <h4
      class="d-flex justify-content-center blockquote"
      style="font-size: 32px; color: #276acf"
    >
      Doctor details
    </h4>
    <div class="row mt-3">
      <div class="card-body ms-5">
        <div class="d-flex justify-content-center">
          <table id="doctor" class="table border-primary">
            <thead class="border-success">
              <tr>
                <th class="display-1" style="font-size: 30px">S.No</th>
                <th class="display-1" style="font-size: 30px">Name</th>
                <th class="display-1" style="font-size: 30px">Address</th>
                <th class="display-1" style="font-size: 30px">Qualification</th>
                <th class="display-1" style="font-size: 30px">Email</th>
                <th class="display-1" style="font-size: 30px">Speciality</th>
                <th class="display-1" style="font-size: 30px">Fees</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                  <tr
                    ng-repeat="doctor in doctorDetails| filter: { 
                      first_name: searchname ,
                      
                    }"
                  >
                    <th>{{$index + 1}}</th>
                    <td style="font-size: 20px">
                      {{doctor.first_name}} {{doctor.last_name}}
                    </td>
                    <td style="font-size: 20px">{{doctor.doctor__address}}</td>
                    <td style="font-size: 20px">
                      {{doctor.doctor__qualification__qualification}}
                    </td>
                    <td style="font-size: 20px">{{doctor.email}}</td>
                    <td style="font-size: 20px">
                      {{doctor.doctor__speciality__speciality}}
                    </td>
                    <td style="font-size: 20px">{{doctor.doctor__fees}}</td>
                    <td>
                      <button
                        type="button"
                        class="btn text-white"
                        data-bs-toggle="modal"
                        style="background-color: #276acf; font-size: 18px"
                        data-bs-target="#exampleModal"
                        ng-click="view(doctor.doctor__id)"
                      >
                        view
                      </button>
                    </td>
                  </tr>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <button
          class="btn text-white float-end"
          style="background-color: #276acf; font-size: 18px"
          ng-click="exportTableToExcel('doctor', 'alldoctor')"
        >
          Export to excel
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  
>
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div ng-if="!patientDetails || patientDetails.length === 0">
          <h4
            class="d-flex justify-content-center blockquote"
            style="font-size: 32px"
          >
            No Patient details Availiable
          </h4>
        </div>
        <div class="col-md-12 mt-5" ng-repeat="doctor in patientDetails">
          <h4
            class="d-flex justify-content-center blockquote"
            style="font-size: 32px"
          >
            Patient details
          </h4>
          <div class="row mt-3">
            <div class="card-body ms-5">
              <div class="d-flex justify-content-center">
                <table id="patient" class="table" >
                  <thead class="border-success">
                    <tr>
                      <th class="display-1" style="font-size: 30px">S.No</th>
                      <th class="display-1" style="font-size: 30px">Name</th>
                      <th class="display-1" style="font-size: 30px">Address</th>
                      <th class="display-1" style="font-size: 30px">Email</th>
                      <th class="display-1" style="font-size: 30px">Phone</th>
                      <th class="display-1" style="font-size: 30px">Age</th>
                      <th class="display-1" style="font-size: 30px">Gender</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="border-primary">
                    <tr>
                      <th>{{$index + 1}}</th>
                      <td style="font-size: 18px">
                        {{doctor.patient_id__user_id__first_name}}
                        {{doctor.last_name}}
                      </td>
                      <td style="font-size: 18px">
                        {{doctor.patient__address}}
                      </td>
                      <td style="font-size: 18px">
                        {{doctor.patient_id__user_id__email}}
                      </td>
                      <td style="font-size: 18px">{{doctor.patient__Phone}}</td>
                      <td style="font-size: 18px">{{doctor.patient__age}}</td>
                      <td style="font-size: 18px">
                        {{doctor.patient__gender}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button
                class="btn btn-primary float-end"
                ng-click="exportTableToExcel('patient', 'patient')"
              >
                Export to excel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Close
    </button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</div>
