<div class="col-md-12 mt-5">
    <div class="col-md-2"></div>
    <div class="container-fluid col-md-10 mt-5">
      <h4
        class="d-flex justify-content-center blockquote"
        style="font-size: 32px; color: #276acf"
      >
        Doctor details
      </h4>
      <div class="row mt-3">
        <div class="card-body ms-5">
          <div class="d-flex justify-content-center">
            <table id="exportable" class="table border-primary">
              <thead>
                <tr class="border-success">
                  <th class="display-1" style="font-size: 30px">S.No</th>
                  <th class="display-1" style="font-size: 30px">Name</th>
                  <th class="display-1" style="font-size: 30px">Address</th>
                  <th class="display-1" style="font-size: 30px">
                    Qualification
                  </th>
                  <th class="display-1" style="font-size: 30px">Email</th>
                  <th class="display-1" style="font-size: 30px">Speciality</th>
                  <th class="display-1" style="font-size: 30px">Fees</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                 
                    <tr
                      ng-repeat="doctor in doctorDetails| filter: {
                                                 first_name: searchname ,
                                                
                                                }"
                    >
                      <th>{{$index + 1}}</th>
                      <td style="font-size: 18px">
                        {{doctor.first_name}} {{doctor.last_name}}
                      </td>
                      <td style="font-size: 18px">
                        {{doctor.doctor__address}}
                      </td>
                      <td style="font-size: 18px">
                        {{doctor.doctor__qualification__qualification}}
                      </td>
                      <td style="font-size: 18px">{{doctor.email}}</td>
                      <td style="font-size: 18px">
                        {{doctor.doctor__speciality__speciality}}
                      </td>
                      <td style="font-size: 18px">{{doctor.doctor__fees}}</td>
                    </tr>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
          <button
            class="btn text-white float-end btn-primary"
            style="font-size: 18px"
            ng-click="exportTableToExcel('exportable', 'doctor')"
          >
            Export to excel
          </button>
        </div>
      </div>
    </div>
  </div>