
<div class="d-flex justify-content-center align-items-center vh-100" ng-show="loader">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="col-md-12 mt-5"ng-show ="data" >
    <div class="col-md-2"></div>
    <div class="container-fluid col-md-10 mt-5">
      <h4
        class="d-flex justify-content-center blockquote "
        style="font-size: 32px; color: #276acf;text-decoration: underline;"
      >
        Prescriptions & Payment Detail
      </h4>
      <div class="row mt-5">
        <div class="card-body ms-5">
          <div class="d-flex justify-content-center">
            <table class="table border-primary" id="appointment">
              <thead>
                <tr class="border-success">
                  <th  style="font-size: 22px">S.No</th>
                  <th  style="font-size: 22px">
                    Doctor name
                  </th>
                  <th  style="font-size: 22px">
                    Patient name
                  </th>
                  <th  style="font-size: 22px">
                    Speciality
                  </th>
                  <th  style="font-size: 22px">
                   Time
                  </th>
                  <th  style="font-size: 22px">Date</th>
                 <th  style="font-size: 22px">Download</th>
                 <th  style="font-size: 22px">Download</th>
                 

                </tr>
              </thead>
              <tbody>
         
                  <tr
                    ng-repeat="doctor in recstPrescription| filter: { 
                      doctor__user__first_name: searchname ,
                    }"
                  >
                    <th>{{$index + 1}}</th>
                    <td style="font-size: 20px">
                      {{ doctor.doctor_id__user_id__first_name}} {{
                      doctor.doctor_id__user_id__last_name }}
                    </td>
                    <td style="font-size: 20px">
                        {{ doctor.patient_id__user_id__first_name}} {{
                        doctor.patient_id__user_id__last_name }}
                      </td>
                    <td style="font-size: 20px">
                      {{doctor.doctor_id__speciality_id__speciality}}
                    </td>
                    <td style="font-size: 20px">
                      {{doctor.time}}
                    </td>
                    <td style="font-size: 20px">{{doctor.date}}</td> 
                    <td
                    style="font-size: 28px"
                  >
                    <button class="btn btn-primary" ng-click="prescription(doctor.id)">Prescription</button>
                  </td>
                    <td
                      style="font-size: 28px"
                      
                    >
                      <button class="btn btn-primary" ng-click="bill(doctor.id)">Bill</button>
                    </td>
                  </tr>
                </th>
              </tbody>
            </table>
          </div>
          <button
            class="btn text-white float-end"
            style="background-color: #276acf; font-size: 18px"
            ng-click="exportTableToExcel('appointment', 'appointment')"
          >
            Export to excel
          </button>
        </div>
      </div>
    </div>
  </div>

