
<div class="d-flex justify-content-center align-items-center vh-100" ng-show="loader">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="col-md-12 mt-5" ng-show="data">
    <div class="col-md-2"></div>
    <div class="container-fluid col-md-10 mt-5">
      <h4
        class="d-flex justify-content-center blockquote"
        style="font-size: 32px; color: #276acf; text-decoration: underline;"
      >
        Doctor details
      </h4>
      <div class="row mt-3">
        <div class="card-body ms-5">
          <div class="d-flex justify-content-center">
            <table id="patientDoctor" class="table border-primary">
              <thead>
                <tr class="border-success">
                  <th style="font-size: 22px">S.No</th>
                  <th style="font-size: 22px">Name</th>
                  <th style="font-size: 22px">Address</th>
                  <th style="font-size: 22px">
                    Qualification
                  </th>
                  <th style="font-size: 22px">Email</th>
                  <th style="font-size: 22px">Speciality</th>
                  <th style="font-size: 22px">Fees</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                 
                    <tr
                      ng-repeat="doctor in doctorDetails| filter: {
                                                 first_name: searchname ,
                                                
                                                }"
                    >
                      <th>{{$index + 1}}</th>
                      <td style="font-size: 20px">
                        {{doctor.user_id__first_name}} {{doctor.user_id__last_name}}
                      </td>
                      <td style="font-size: 20px">
                        {{doctor.address}}
                      </td>
                      <td style="font-size: 20px">
                        {{doctor.qualification_id__qualification}}
                      </td>
                      <td style="font-size: 20px">{{doctor.user_id__email}}</td>
                      <td style="font-size: 20px">
                        {{doctor.speciality_id__speciality}}
                      </td>
                      <td style="font-size: 20px">{{doctor.fees}}</td>
                    </tr>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
          <button
            class="btn text-white float-end btn-primary"
            style="font-size: 18px"
            ng-click="exportTableToExcel('patientDoctor', 'patientdoctor')"
          >
            Export to excel
          </button>
        </div>
      </div>
    </div>
  </div>