<div ng-show="pending" class="text-center mt-5">
    <p style="font-size: 26px">No pending appointments to show</p>
</div>

<div class="col-md-12 mt-5" ng-show="appointment">
    <div class="container mt-5">
        <h4 class="text-center blockquote" style="font-size: 24px">
            Pending Appointments Details
        </h4>
        <div class="row mt-3">
            <div class="card-body ms-2">
                <div class="d-flex justify-content-center">
                    <table id="pendingApp" class="table border-primary">
                        <thead class="border-success">
                            <th style="font-size: 18px">S.No</th>
                            <th style="font-size: 18px">Patient Name</th>
                            <th style="font-size: 18px">Patient Email</th>
                            <th style="font-size: 18px">Patient Phone</th>
                            <th style="font-size: 18px">Address</th>
                            <th style="font-size: 18px">Date</th>
                            <th style="font-size: 18px">Time</th>
                            <th style="font-size: 18px">Age</th>
                            <th style="font-size: 18px">Gender</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="doctor in appointments | filter: {patient_id__user_id__first_name: searchname }">
                                <th style="font-size: 16px">{{$index + 1}}</th>
                                <td style="font-size: 16px">{{ doctor.patient_id__user_id__first_name }} {{ doctor.patient_id__user_id__last_name }}</td>
                                <td style="font-size: 16px">{{ doctor.patient_id__user_id__email }}</td>
                                <td style="font-size: 16px">{{ doctor.patient_id__Phone }}</td>
                                <td style="font-size: 16px">{{ doctor.patient_id__address }}</td>
                                <td style="font-size: 16px">{{ doctor.date }}</td>
                                <td style="font-size: 16px">{{ doctor.time }}</td>
                                <td style="font-size: 16px">{{ doctor.patient_id__age }}</td>
                                <td style="font-size: 16px">{{ doctor.patient_id__gender }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" ng-click="view(doctor.id)">
                                        View
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn text-white float-end mt-3" style="background-color: #276acf; font-size: 16px" ng-click="exportTableToExcel('pendingApp', 'pendingApp')">
                    Export to Excel
                </button>
            </div>
        </div>
    </div>
</div>


        