<div class="col-md-12 mt-5" ng-show="appointment">
  <div class="col-md-2"></div>
  <div class="container-fluid col-md-10 mt-5">
    <h4
      class="d-flex justify-content-center blockquote"
      style="font-size: 32px"
    >
      Appointments details
    </h4>
    <div class="row mt-3">
      <div class="card-body ms-5">
        <div class="d-flex justify-content-center">
          <table id="appointment" class="table border-primary">
            <thead class="border-success">
              <th class="display-1" style="font-size: 30px">S.No</th>
              <th class="display-1" style="font-size: 30px">Patient Name</th>
              <th class="display-1" style="font-size: 30px">Doctor name</th>
              <th class="display-1" style="font-size: 30px">Speciality</th>
              <th class="display-1" style="font-size: 30px">Patient Email</th>
              <th class="display-1" style="font-size: 30px">Patient Phone</th>
              <th class="display-1" style="font-size: 30px">Date</th>
              <th class="display-1" style="font-size: 30px">time</th>
              <th></th>
              <!-- </tr> -->
            </thead>
            <tbody>
              <!-- <th> -->
              <tr
                ng-repeat="doctor in appointments| filter: { first_name: searchname }"
              >
                <th>{{$index + 1}}</th>
                <td style="font-size: 18px">
                  {{ doctor.patient__user__first_name }} {{
                  doctor.patient__user__last_name }}
                </td>
                <td style="font-size: 18px">
                  {{ doctor.doctor__user__first_name }} {{
                  doctor.doctor_id__user__last_name }}
                </td>
                <td style="font-size: 18px">
                  {{doctor.doctor_id__speciality__speciality }}
                </td>
                <td style="font-size: 18px">{{doctor.patient__user__email}}</td>
                <td style="font-size: 18px">{{doctor.patient__Phone}}</td>
                <td style="font-size: 18px">{{doctor.date}}</td>
                <td style="font-size: 18px">{{doctor.time}}</td>
                <td>
                  <button
                    class="btn btn-outline-success"
                    ng-click="approve(doctor.id)"
                  >
                    Approve
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-outline-danger"
                    ng-click="reject(doctor.id)"
                  >
                    Reject
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button
          class="btn text-white float-end"
          style="background-color: #276acf; font-size: 18px"
          ng-click="exportTableToExcel('appointment', 'appointment')"
        >
          Export to excel
        </button>
      </div>
    </div>
  </div>
</div>
