    <div class="col-md-12 mt-5" ng-show="patientAppointment">
      <div class="col-md-2"></div>
      <div class="container-fluid col-md-10 mt-5">
        <h4
          class="d-flex justify-content-center blockquote"
          style="font-size: 32px; color: #276acf"
        >
          Appointments details
        </h4>
        <div class="row mt-3">
          <div class="card-body ms-5">
            <div class="d-flex justify-content-center">
              <table class="table border-primary" id="appointment">
                <thead>
                  <tr class="border-success">
                    <th class="display-1" style="font-size: 30px">S.No</th>
                    <th class="display-1" style="font-size: 30px">
                      Doctor name
                    </th>
                    <th class="display-1" style="font-size: 30px">
                      Doctor Email
                    </th>
                    <th class="display-1" style="font-size: 30px">
                      Doctor Phone
                    </th>
                    <th class="display-1" style="font-size: 30px">Date</th>
                    <th class="display-1" style="font-size: 30px">Time</th>
                    <th class="display-1" style="font-size: 30px">Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <td></td>
                  <td>
                    <input
                      type="text"
                      class="form-control border border-black w-50"
                      ng-model="searchname"
                      placeholder="Name"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control border border-black w-50"
                      ng-model="searchEmail"
                      placeholder="Email"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control border border-black w-50"
                      ng-model="searchPhone"
                      placeholder="Phone"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control border border-black w-50"
                      ng-model="searchDate"
                      placeholder="Date"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control border border-black w-50"
                      ng-model="searchTime"
                      placeholder="Time"
                    />
                  </td>
                  <th>
                    <tr
                      ng-repeat="doctor in appointments| filter: { 
                        doctor_id__user_id__first_name: searchname ,
                        doctor_id__user_id__email:searchEmail,
                        doctor_id__phone:searchPhone,
                        date:searchDate,
                        time:searchTime,
                      }"
                    >
                      <th>{{$index + 1}}</th>
                      <td style="font-size: 18px">
                        {{ doctor.doctor__user__first_name }} {{
                        doctor.doctor__user__last_name }}
                      </td>
                      <td style="font-size: 18px">
                        {{doctor.doctor_id__user_id__email}}
                      </td>
                      <td style="font-size: 18px">
                        {{doctor.doctor_id__phone}}
                      </td>
                      <td style="font-size: 18px">{{doctor.date}}</td>
                      <td style="font-size: 18px">{{doctor.time}}</td>
                      <td
                        style="font-size: 18px"
                        
                      >
                        <button class="btn btn-primary" ng-click="view(doctor.id)">Status</button>
                      </td>
                    </tr>
                  </th>
                </tbody>
              </table>
            </div>
            <button
              class="btn text-white float-end"
              style="background-color: #276acf; font-size: 18px"
              ng-click="exportTableToExcel('appointment', 'appointment')"
            >
              Export to excel
            </button>
          </div>
        </div>
      </div>
    </div>

